{% extends "base.html" %}
{% load utility_filters %}

{% block css %}
  {{ block.super }}
  <style>
     .card-icon i {
         font-size:50px;
         display:block;
         transition: all ease-in-out 0.2s;
      }
     .card-icon:hover i {
       text-shadow: 0px -1px 10px #00A8CC;
        transform:scale(1.2)rotate(20deg);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container overflow-visible">
    <div class="text-start modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow-lg">
        <div class="modal-body p-5">
          <h1 class="display-5 mb-5 text-center">Features</h1>
          <ul class="list-unstyled">
            <li class="row mb-4">
               <div class="d-none d-sm-block align-self-center col-2 card-icon text-center">
                <i class="fa-brands fa-searchengin"></i>
               </div>
              <div class="col">
                <p class="mb-1 lead" style="color:{{ "pastel"|color }}">Search</p>
                <p><small>Experience the surprise of getting a random cat with just a click.</small></p>
                <a
                   type="button"
                   class="btn btn-outline-success {% if not images %}disabled{% endif %}"
                   onclick="$('#random-cats').modal('show')"
                 >Surprise me</a>
              </div>
            </li>
            <li class="row mb-4">
               <div class="d-none d-sm-block align-self-center col-2 card-icon text-center">
                  <i class="fa-solid fa-cat"></i>
               </div>
              <div class="col">
                <h5 class="mb-1 lead" style="color:{{ "pastel"|color }}">Breeds</h5>
                <p><small>Browse cat breeds, learn about their temperaments, and understand unique characteristics.</small></p>
                <a type="button" href="{% url 'breeds:list' %}" class="btn btn-outline-danger">Explore now</a>
              </div>
            </li>
            <li class="row">
             <div class="d-none d-sm-block align-self-center col-2 card-icon text-center">
                <i class="fa-solid fa-code"></i>
             </div>
              <div class="col">
                <h5 class="mb-1 lead" style="color:{{ "pastel"|color }}">Learn</h5>
                <p><small>Explore the development and design steps behind this website's creation.</small></p>
                <a type="button" href="{% url 'about' %}" class="btn btn-outline-warning">Let's go</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include "breeds/partials/random.html" %}
{% endblock %}
